$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'assets/styles/colors';
// @import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Righteous');
// @import 'assets/styles/photo-banner1.jpg';


body {
  background-color: $light-pink;
  color: $black;
  font-family: 'Righteous', cursive;
}

// nav {
//   a {
//     color: $black;
//     display: inline-block;
//     font-size: 20px;
//   }
//
//   a:hover {
//     color: $pink;
//
//     li {
//       background-color: $black;
//     }
//   }
// }

.banner-top {
  background-color: $black;
  clear: both;
  color: $light-pink;
  height: 500px;
  margin: 0 auto;
  // text-align: center;
  max-width: 900px;

  h1 {
    padding: 50px;
  }

  .about-paragraph {
    font-size: 30px;
    padding: 50px;
  }
}

.row {
  a {
    color: $pink;
  }

  a:hover {
    color: $white;
  }
}

.skills {
  display: block;
  float: right;
  padding: 8px 0;
  text-align: center;
  width: 25%;
}

img {
  width: 300px;
}

.container {
  clear: both;
  max-width: 900px;
}
